.slider-wrap {
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
    -webkit-animation: slider 10s linear infinite;
    animation: slider 10s linear infinite;
}


/*動畫關鍵影格*/

@-webkit-keyframes slider {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes slider {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}


/*每個圖片各延遲5秒*/

.slider-wrap>div:nth-child(2) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.slider-wrap>div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}


/*滑入時停止播放*/

.slider-wrap:hover>div {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}