body {
    background-color: #EEEEEE;
    color: #3E3E3E;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Roboto, 'Segoe UI', Arial, 'Microsoft Jhenghei', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/* DEMO =============*/

body.demo {
    overflow-y: hidden;
    text-align: left;
}

.demo {
    text-align: center;
}

.demo a {
    display: inline-block;
    padding: 0 .5em;
}

.demo a.active {
    color: red;
}

.demo-show {
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.demo-hide {
    position: absolute;
    z-index: 0;
    opacity: 0;
}

.hide {
    display: none;
}

.demo-header {
    /* height: 135px; */
    height: 110px;
    background: #2E74CD url(../images/demo/demo-header-bg.png) 0 0 repeat-x;
    background-size: auto 100%;
}

.demo-header a {
    display: flex;
    width: 100%;
    padding: 0;
}

.demo-logo {
    /* width: 443px;
    height: 127px; */
    width: 440px;
    height: 110px;
    background: url(../images/demo/demo-logo.png) 10px 3px no-repeat;
    background-size: 83%;
}

.demo-user-help {
    /* height: 135px; */
    position: relative;
    height: 105px;
    background: url(../images/demo/demo-header-right.png) 100% 100% no-repeat;
    background-size: auto 100%;
}

.demo-user-help:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 1;
    width: 800px;
    height: 364px;
    background: url(../images/demo/demo-dropdown-user-help.png) 100% 100% no-repeat;
    background-size: 100%;
    transform-origin: 100% 0;
    transform: scale(.75);
}

.demo-news {
    position: absolute;
    left: 50%;
    top: 61px;
    /* width: 1040px; */
    width: 100%;
    height: 40px;
    background: url(../images/demo/demo-news.png) 50% 50% no-repeat;
    background-size: contain;
    transform: translateX(-50%);
}

.page[data-menu="open"] .demo-user-help {
    width: calc(100vw - 690px);
}

.page[data-menu="close"] .demo-user-help {
    width: calc(100vw - 500px);
}

.page[data-menu="open"] .demo-aside {
    background: #5C84D2 url(../images/demo/demo-menu-open.png) 0 5px no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.page[data-menu="close"] .demo-aside {
    background: #5C84D2 url(../images/demo/demo-menu-close.png) -3px 5px no-repeat;
    background-size: 310px auto;
    cursor: pointer;
}

.demo-float-sub-menu {
    position: absolute;
    top: 200px;
    width: 80px;
    height: 80px;
    /* background-color: rgba(0, 0, 0, .5); */
}

.demo-float-sub-menu::after {
    content: "";
    display: none;
    position: absolute;
    left: 60px;
    top: 20px;
    z-index: 10;
    width: 200px;
    height: 410px;
    background: url(../images/demo/demo-float-sub0menu.png) 0 0 no-repeat;
    background-size: 100%;
}

.page[data-menu="close"] .demo-float-sub-menu:hover::after {
    display: block;
}


/* 覆蓋 BOOTSTRAP =============*/

.offcanvas {
    background-color: #f7fafc;
}

.offcanvas-bottom {
    height: 80vh;
    /* padding-bottom: 1em; */
}

caption {
    caption-side: top;
}


/* PAGE LAYOUT----------------- */

.page {
    display: grid;
    height: 100vh;
    /* grid-template-rows: 135px auto 1fr; */
    grid-template-rows: 110px auto 1fr;
    /* grid-template-columns: 300px 1fr; */
    grid-template-areas: "aside header" "aside breadcrumb" "aside main";
    grid-gap: 0;
}

.page[data-menu="open"] {
    grid-template-columns: 250px 1fr;
    transition: .5s all;
}

.page[data-menu="close"] {
    grid-template-columns: 60px 1fr;
    transition: .5s all;
}

.page>header {
    grid-area: header;
    border-bottom: 1px solid #EFEFEF;
    background-color: #FFFFFF;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
}

.page>aside {
    grid-area: aside;
    background-color: #1E549F;
    color: #FFFFFF;
    overflow: auto;
    float: left;
    height: 100vh;
    /* width: 300px; */
}

.page .breadcrumb {
    grid-area: breadcrumb;
}

.page>main {
    grid-area: main;
    height: calc( 100vh - 110px);
    /* background-color: #567; */
    overflow-y: auto;
}


/* Header */

.sys-name {
    display: table-cell;
    padding: .5em .5em;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    color: #2262C7;
}

.sys-name::before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
    vertical-align: middle;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/ROC_Water_Resources_Agency_Seal.svg/200px-ROC_Water_Resources_Agency_Seal.svg.png) 50% 50% no-repeat;
    background-size: contain;
}

.news {
    /* margin: 8px 20px 0 8px; */
    padding: .5em;
    font-size: 13px;
    /* background: rgb(239, 239, 239); */
    background: linear-gradient(180deg, rgba(236, 254, 255, 1) 75%, rgba(239, 239, 239, 1) 100%);
    /* border: 1px dotted #CCC; */
    border-radius: 4px;
    box-sizing: border-box;
}

.news .date {
    color: #5470c6;
    text-align: right;
    white-space: nowrap;
}

.news .date::before {
    content: "\f0a1";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.news .latest .date {
    color: red;
}

.news td {
    vertical-align: top;
}

.news a {
    color: #5470c6;
    text-decoration: underline;
}


/* ----------------- */

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start;
    align-items: stretch; */
    /* height: 700px; */
    /* margin-right: -13px; */
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.col {
    margin-right: 8px;
    margin-bottom: 8px;
    padding-bottom: .5em;
    border-radius: 4px;
    box-sizing: border-box;
}

.col-1 {
    width: calc( 100% / 3 - 8px);
}

.col-2 {
    width: calc( 100% / 3 * 2 - 8px);
}

.col-3 {
    width: calc( 100% - 8px);
}

.dashboard {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 13px;
}

.dashboard-tab,
.dashboard-tab li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dashboard-tab {
    margin: 10px;
    margin-right: 18px;
    margin-bottom: 0 !important;
    padding: 8px;
    border-radius: 4px;
    background: #fff;
}

.dashboard-tab li {
    display: inline-block;
}

.dashboard-tab a {
    display: block;
    margin-right: 8px;
    padding: .75em 4em;
    background-color: #E8F2FF !important;
    color: #3A63BE !important;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.dashboard-tab a.active {
    background-color: #5C84D2 !important;
    color: #fff !important;
}
.dashboard-tab .note {
    position: absolute;
    top: .75em;
    right: 1em;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    color: #FF6961;
}
.query-apply-plan {
    margin: 1px 18px 0 10px;
    padding: 1.5em;
    border-top: 1px solid #EEEEEE;
    border-radius: 4px;
    background-color: #fff;
}

.dashboard>.col {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFFFFF;
}

.dashboard .title {
    margin-bottom: 1em;
    margin-left: -30px;
    margin-right: -30px;
    padding: .75em 1em;
    /* background-color: #E5EEFD; */
    /* color: #5470C6; */
    color: #999999;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.section-title {
    padding: 2px 0;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.section-organizer-stage {
    padding-bottom: 1.5em;
}

.section-company {
    /* height: 400px; */
}

.block-funds-detail {
    width: 48%;
}

.block-funds-detail:nth-child(2n) {
    margin-right: 4%;
}

.quick {
    width: 100%;
    text-align: center;
    background-color: #fff !important;
}

.quick ul,
.quick li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quick li {
    display: inline-block
}

.quick a {
    display: block;
    padding: 1em;
    font-size: 18px;
    font-weight: bold;
}

.quick a {
    border-left: 2px solid #EEEEEE;
}

.quick li:last-child a {
    border-right: 2px solid #EEEEEE;
}

.notice {
    display: flex;
    width: calc(100% - 8px);
    margin-bottom: 8px;
    background-color: #4e5164;
    color: #FFFFFF;
    /* border: 1px solid #FF6961; */
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    justify-content: center;
}

.notice>div {
    width: auto;
    padding: 16px 2em;
    text-align: center;
    cursor: pointer;
    transition: .5s all;
}

.notice>div:hover {
    background-color: rgba(0, 0, 0, .25);
}

.notice>div:not(:last-child) {
    /* border-right: 1px dotted rgba(255, 255, 255, .5); */
}

.todo {
    padding-left: 4em !important;
    padding-right: 4em !important;
    /* background-color: rgba(0, 0, 0, .15); */
    -webkit-animation: flash 3s linear infinite;
    animation: flash 3s linear infinite;
}

.todo span {
    -webkit-animation: jump 3s linear infinite;
    animation: jump 3s linear infinite;
}

.todo:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.todo:hover,
.notice>div:hover span {
    transform-origin: 50% 50%;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.notice i {
    display: inline-block;
    margin-right: .5em;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px dotted #FFFFFF;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: #4e5164;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.notice i::before {
    display: block;
    padding: .5em;
}

.notice i:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 12px;
    height: 32px;
    border-top: 1px dotted #FFFFFF;
    transform: translate(22px, -50%);
}

.notice span {
    display: inline-block;
    margin-left: .5em;
    padding: 0 1em;
    font-size: 16px;
    font-weight: 900;
    background-color: #FF6961;
    color: #fff;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, .5);
    /* box-shadow: 0 0 8px rgba(255, 255, 255, .8); */
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.btn-my-plan {
    width: 150px;
    font-size: 16px;
    line-height: 32px;
    color: #4e5164;
    border-radius: 4px;
    background-color: #fff;
}

.btn-my-plan span {
    color: #FF6961;
    border: 0;
    background-color: transparent;
    box-shadow: none;
}
.btn-view, .btn-view:hover {
    display: inline-block !important;
    width: 28px;
    height: 28px;
    background-color: #999;
    color: #fff !important;
    padding: 2px !important;
    text-align: center;
    border-radius: 4px;
}
.btn-view *, .btn-view:hover {
    color: #fff !important;
}
@-webkit-keyframes jump {
    40%,
    50%,
    60% {
        transform: translateY(0);
        filter: brightness(1);
    }
    45%,
    55% {
        transform: translateY(-8px);
        filter: brightness(1.5);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jump {
    40%,
    50%,
    60% {
        transform: translateY(0);
        filter: brightness(1);
    }
    45%,
    55% {
        transform: translateY(-5px);
        filter: brightness(1.5);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes flash {
    0%,
    10%,
    20% {
        filter: brightness(1);
        background-color: rgba(0, 0, 0, .2);
    }
    5%,
    15% {
        filter: brightness(1.5);
        background-color: rgba(255, 255, 255, .1);
    }
}

@keyframes flash {
    0%,
    10%,
    20% {
        filter: brightness(1);
        background-color: rgba(0, 0, 0, .2);
    }
    5%,
    15% {
        filter: brightness(1.5);
        background-color: rgba(255, 255, 255, .2);
    }
}

.wrap-organizer {
    position: relative;
    width: 32%;
    /* padding-left: 30px; */
    box-sizing: border-box;
    background-color: #fff;
}

.wrap-stage {
    width: 68%;
    /* padding-right: 20px; */
    box-sizing: border-box;
    background-color: #fff;
}

.wrap-priority {
    margin: 0 -15px;
    box-sizing: border-box;
    overflow: hidden;
}

.wrap-priority .col {
    /* margin-right: 30px; */
    width: calc( 100% / 3 - 8px);
    overflow: hidden;
}

*[class^="chart-"] {
    /* background-color: #000; */
}

.chart-outsourcing-funds {
    /* margin-top: 20px; */
}

.chart-outsourcing {
    width: calc(50% - 8px);
    max-width: 180px;
    /* max-width: 200px; */
    height: 220px;
    /* transform: translate(-10px, -20px); */
    /* overflow: hidden; */
}

.chart-funds {
    width: calc(50% - 8px);
    max-width: 176px;
    /* max-width: 180px; */
    height: 220px;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.chart-priority {
    /* width: 200%; */
    max-width: 140px;
    height: 140px;
    margin: o auto;
}

.chart-organizer {
    width: calc(100% - 30px);
    height: 240px;
}

.chart-organizer-mine {
    /* width: calc(100% - 30px); */
    /* position: absolute; */
    /* top: 30px;
    left: 0;
    right: 20px;
    z-index: 1; */
    height: 170px;
}

.chart-stage {
    /* height: 15vw; */
    height: 180px;
}

.chart-budget {
    margin-top: 30px;
    width: 100%;
    height: 140px;
}

.chart-company {
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 16px; */
    height: 180px;
}

.chart-plan-kind-count {
    width: 42%;
    margin: 0 4%;
    height: 220px;
}

.chart-plan-kind-funds {
    width: 42%;
    margin: 0 4%;
    height: 220px;
}

.chart-plan-eng-count {
    width: 42%;
    margin: 0 4%;
    height: 220px;
}

.chart-plan-eng-funds {
    width: 42%;
    margin: 0 4%;
    height: 220px;
}

.chart-plan-funds {
    width: 100%;
    height: 100%;
    min-height: 260px;
}

.chart-plan-funds2 {
    width: 100%;
    min-height: 300px;
}

.data-organizer-mine {
    width: calc(100% - 30px);
    margin-top: 0 !important;
    background-color: transparent;
}

.data-organizer-mine caption {
    height: 205px;
}

.data-organizer-mine th,
.data-organizer-mine td {
    min-width: 4em;
    padding: 1em;
    border-bottom: 1px dotted #CCCCCC !important;
}

.data-organizer-mine th {
    /* font-size: 13px; */
    font-weight: normal;
    text-align: left;
    color: #444 !important;
}

.data-organizer-mine td span {
    font-size: 16px;
    font-weight: bold;
    color: #5470C6;
}

.data-organizer-mine .late {
    color: #FF6961;
}

.data-organizer-mine .active th,
.data-organizer-mine .active td {
    background-color: #e8f2ff;
}
.data-total {
    position: relative;
    z-index: 1;
    width: 100%;
    /* margin: 0 7%; */
    font-weight: bold;
    text-align: left;
    background-color: #fff;
}

.data-total th {
    padding: 2px 0;
    font-size: 16px !important;
    /* line-height: 1.2; */
}

.data-total td {
    padding: 0;
    font-size: 24px !important;
    /* line-height: 1.2; */
}

.data-outsourcing-funds {
    position: relative;
    z-index: 1;
    margin-top: -90px;
    margin-bottom: 1.5em;
    width: 100%;
    /* margin-left: 7%; */
    /* font-size: 13px; */
    /* font-weight: bold; */
    text-align: right;
    /* border-left: 30px solid #fff; */
    background-color: #fff;
    border-collapse: collapse;
}

.data-outsourcing-funds span {
    font-size: 16px;
    font-weight: bold;
}

.data-outsourcing-funds td:nth-child(1) {
    width: 5em;
    text-align: left;
}

.data-outsourcing-funds td:nth-child(2) {
    width: 4em;
}

.data-outsourcing-funds td:nth-child(3) {
    width: auto;
    min-width: 6em;
}

.data-outsourcing-funds td:nth-child(4) {
    width: 8em;
}

.data-outsourcing-funds td {
    padding-top: 5px;
}

.data-outsourcing-funds .yes td {
    border-bottom: 3px solid #5470C6;
    color: #5470C6;
}

.data-outsourcing-funds .no td {
    border-bottom: 3px solid #FF6961;
    color: #FF6961;
}

.data-organizer {
    position: relative;
    margin-top: -60px;
    background-color: #fff;
}

.data-organizer td {
    padding: 2px 0;
    padding-top: 4px;
    /* font-size: 13px; */
    color: #6D6D6D;
}

.data-organizer tr:not(:nth-child(1)) td:not(:nth-child(1)) {
    font-weight: bold;
}

.data-organizer span {
    margin-right: 3px;
    font-size: 16px;
}

.data-organizer {
    width: 90%;
    border-collapse: collapse;
}

.data-organizer tr:nth-child(2) td {
    border-bottom: 3px solid #5470C6
}

.data-organizer tr:nth-child(2) td:nth-child(1),
.data-organizer tr:nth-child(2) td:nth-child(2) span {
    color: #5470C6;
}

.data-organizer tr:nth-child(3) td {
    border-bottom: 3px solid #6cb9ed;
}

.data-organizer tr:nth-child(3) td:nth-child(1),
.data-organizer tr:nth-child(3) td:nth-child(2) span {
    color: #6cb9ed;
}

.data-organizer .late {
    /* padding: 0 1em; */
    /* border: 1px solid #FF6961; */
    color: #FF6961;
    border-radius: 1em;
    font-size: 16px;
    cursor: pointer;
}

.data-stage {
    position: relative;
    top: auto;
    z-index: 3;
    margin-left: 3.3%;
    margin-top: -25px;
    margin-bottom: .5em;
    width: 97%;
    border-collapse: collapse;
    border-top: 10px solid #fff;
    border-left: 3% solid #fff;
    border-right: 1px dotted #ddd;
    background-color: #fff;
}

.data-stage th,
.data-stage td {
    table-layout: fixed;
    padding: 0;
    text-align: center;
    border-left: 1px dotted #ddd;
    font-weight: bold;
}

.data-stage th {
    width: calc(100% / 9);
    padding-bottom: 5px;
    font-weight: normal;
    /* font-size: 13px; */
    color: #6D6D6D;
    vertical-align: bottom;
}

.data-stage td {
    /* padding-bottom: 5px; */
    color: #5470C6;
    font-size: 16px;
}

.data-stage tr:nth-child(2) td,
.data-stage tr:nth-child(3) td {
    position: relative;
    z-index: 1;
}

.data-stage tr:nth-child(3) td {
    /* padding-top: 5px; */
    padding-bottom: 5px;
}

.data-stage span {
    /* padding: 0 1em; */
    /* border: 1px solid #FF6961; */
    color: #FF6961;
    background-color: #fff;
    border-radius: 1em;
    font-size: 16px;
}

.data-stage.purchase {
    position: absolute;
    margin-top: -24px;
    /* margin-left: calc(24% - 1px); */
    /* width: calc(54.4% + 1px); */
    width: auto;
    margin-left: calc(100% - 1px);
    border: 1px solid #5470C6;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.data-stage.purchase caption {
    position: relative;
    caption-side: top;
    padding: 5px;
    font-size: 12px;
    background-color: #5470C6;
    color: #FFF;
}

.data-stage.purchase th:nth-child(1),
.data-stage.purchase td:nth-child(1) {
    border-left: 0;
}

.data-stage.purchase th {
    padding: .5em .5em 0 .5em;
    font-size: 13px;
    white-space: nowrap;
}

.data-stage.purchase td {
    padding: 5px 0;
}

.data-stage.purchase caption:before {
    position: relative;
    top: 20px;
    left: 0;
    content: "";
    display: block;
    margin-top: -24px;
    margin-left: -17px;
    width: 0;
    height: 0;
    border-right: 16px solid #5470C6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.data-priority {
    margin: 0 auto;
    width: auto;
    /* font-size: 13px; */
}

.data-priority th {
    color: #5470C6;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.data-priority td:nth-child(1) {
    padding-right: 1em;
}

.data-priority span {
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
}

.data-priority .not-yet {
    color: #FF6961;
}

.data-priority tr td:nth-child(2) {
    text-align: right;
}

.data-committee-hosting {
    display: none;
    width: 100%;
    margin-left: 20px;
    /* font-size: 13px; */
}

.data-committee-hosting caption {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.data-committee-hosting td {
    padding: 5px 0;
}

.data-plan-kind {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 2em;
    text-align: right;
}

.data-plan-kind {
    position: relative;
    z-index: 1;
    margin-top: -80px;
    background-color: #FFFFFF;
    font-weight: bold;
}

.data-plan-kind td {
    padding: 4px 0 4px 8px;
}

.data-plan-kind td:nth-child(1)::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: -.5em;
    margin-right: .5em;
    border-radius: .25em;
    background-color: #EEEEEE;
}

.data-plan-kind .legend-1 td {
    border-bottom: 2px solid #5470C6;
}

.data-plan-kind .legend-1 td::before {
    background-color: #5470C6;
}

.data-plan-kind .legend-2 td {
    border-bottom: 2px solid #91CC75;
    ;
}

.data-plan-kind .legend-2 td::before {
    background-color: #91CC75;
    ;
}

.data-plan-kind .legend-3 td {
    border-bottom: 2px solid #FAC858;
}

.data-plan-kind .legend-3 td::before {
    background-color: #FAC858;
}

.data-plan-kind .legend-4 td {
    border-bottom: 2px solid #EE6666;
}

.data-plan-kind .legend-4 td::before {
    background-color: #EE6666;
}

.data-plan-kind .legend-5 td {
    border-bottom: 2px solid #5ECDE1;
}

.data-plan-kind .legend-5 td::before {
    background-color: #5ECDE1;
}

.data-plan-kind .legend-6 td {
    border-bottom: 2px solid #E9ECF7;
}

.data-plan-kind .legend-6 td::before {
    background-color: #E9ECF7;
}

.data-plan-kind td:nth-child(4n+1) {
    width: 9em;
}

.data-plan-kind td:nth-child(4n+1) i {
    color: #BBBBBB;
}

.data-plan-kind td:nth-child(4n+2) {
    width: 3.5em;
}

.data-plan-kind td:nth-child(4n+3) {
    font-weight: normal;
}

.data-plan-kind td:nth-child(4n+4) {
    width: 7em;
}

.percentage {
    position: relative;
    z-index: 1;
    display: block;
    margin-top: -20px;
    text-align: center;
}

.cursor * {
    cursor: pointer;
}


/* .btn-purchase-detail {
position: relative;
background-color: #E5EEFD !important;
transform: translateX(50%);
}

.btn-purchase-detail:before {
content: "";
display: block;
position: absolute;
z-index: -1;
top: -48px;
height: 70px;
width: 100%;
border: 1px solid #66A3FF;
border-width: 0 1px;
} */

.btn-purchase-detail {
    position: relative;
    transform: translateX(50%);
    background-color: #fff;
}

.btn-purchase-detail * {
    color: #999;
}

.btn-purchase-detail input {
    display: none;
}

.btn-purchase-detail input:checked~table {
    display: block;
}

.btn-purchase-detail input:not(:checked)~table {
    display: none;
}

.btn-rank {
    position: absolute;
    top: 0;
    right: 20px;
    padding: .25em .75em;
    border: 1px dotted #CCCCCC;
    border-radius: 4px;
    color: #999;
}

.select-year {
    margin-right: .5em;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 0 .5em;
    height: 28px;
    border-radius: 36px;
    font-size: 16px;
    border-width: 0;
    background-color: #EEEEEE;
    color: #222222;
    outline: none;
}

.mychart-type-bar {}

.mychart-type-bar .data {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    color: #5ECDE1;
}

.mychart-bar,
.mychart-bar .bar {
    height: 8px;
}

.mychart-bar {
    margin-bottom: 25px;
    background-color: #F1F1F1;
}

.mychart-bar .bar {
    display: block;
    width: 0;
    background-color: #5ECDE1;
    transition: 1s all;
}

.align-l {
    text-align: left;
}

.align-r {
    text-align: right;
}

.align-t {
    vertical-align: top;
}


/* MY TABLE (SCROLL & FIEDX)----------------- */

.my-table-wrap {
    height: calc(100% - 48px);
    overflow: auto;
    border: 1px dotted #CCC;
}

.my-table-wrap,
.my-table2-wrap {
    overflow-x: auto;
}

.my-table,
.my-table2 {
    width: 100%;
    font-size: 13px;
}

.my-table th,
.my-table td {
    padding: 8px;
    max-width: 20em;
}

.my-table th,
.my-table2 th {
    border-right: 0;
    font-weight: normal;
    color: #777;
}

.my-table td,
.my-table2 td {
    /* border-right: 1px dotted #CCCCCC; */
    /* border-top: 1px dotted #CCCCCC; */
    vertical-align: top;
    background-color: #FFFFFF;
}

.my-table>:not(:first-child),
.my-table2>:not(:first-child) {
    border-top-width: 0;
}

.my-table thead th,
.my-table2 thead th {
    position: sticky;
    top: -1px;
    background-color: #F7FAFC;
}

.my-table thead th.fixed,
.my-table2 thead th.fixed {
    position: relative;
    position: sticky;
    top: -1px;
    left: 0;
    z-index: 2;
    background-color: #F7FAFC;
    border-right: 1px solid #e5e7eb;
}

.my-table tbody td.fixed,
.my-table2 tbody td.fixed {
    position: relative;
    position: sticky;
    left: 0;
    z-index: 1;
    background: #FFFFFF;
}

.my-table2 thead th::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #e5e7eb;
    background-color: #F7FAFC;
}

.my-table2 tbody td.fixed::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    bottom: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid #e5e7eb;
    background-color: #FFFFFF;
}

.my-table th,
.my-table td {
    /* white-space: nowrap; */
}

.my-table td.name,
.my-table2 td.name {
    min-width: 16em;
}

.my-table td.detail,
.my-table2 td.detail {
    text-align: center;
}

.my-table th,
.my-table td.late,
.my-table2 th,
.my-table2 td.late {
    white-space: nowrap;
}


/* MY TABLE2 -------------------- */

.my-table2-wrap {
    /* margin-bottom: 1em; */
    margin-bottom: 1em;
    position: relative;
    /* padding-bottom: 1em; */
    border: 1px solid #e5e7eb;
    border-radius: .25em;
    background-color: #F7FAFC;
    color: #94A4B8;
}

.width-max {
    max-width: 900px;
    margin: 0 auto;
}

.my-table2-wrap::before {
    content: "";
    display: block;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    /* background-color: red; */
}

.my-table2-wrap::after {
    content: "";
    display: block;
    position: sticky;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #F7FAFC;
    box-shadow: inset 0 1px 2px 0 rgba(0 0 0/0.05);
}

.my-table2-title {
    padding-left: .5rem;
    padding-right: 0.5em;
    padding-bottom: .5rem;
}

.my-table2 {
    width: 100%;
    /* font-size: 13px; */
    box-sizing: content-box;
    /* overflow: hidden; */
}

.my-table2 th,
.my-table2 td {
    max-width: 20em;
    padding: .5em .5rem;
    font-weight: normal;
}

.my-table2 td {
    color: #64758B;
    border-top: 1px solid #e5e7eb;
    background-color: #FFFFFF;
}

a {
    color: #5470C6;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}


/* ============================= */

.grid {
    display: grid;
}

.grid.dashboard-query {
    /* display: grid; */
    margin: 8px;
    height: calc(100vh - 16px);
    grid-gap: 8px;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 54px 210px auto;
    grid-template-areas: "query query" "plan stage" "plan list";
    box-sizing: border-box;
}

.grid.dashboard-query.no-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 54px 1fr;
    grid-template-areas: "query" "list";
}

.grid.no-grid .plan,
.grid.no-grid .stage {
    display: none;
}

.grid.dashboard-query>div,
.grid.dashboard-organizer>div {
    padding: 12px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.dashboard-query .query {
    width: 100%;
    grid-area: query;
}

.dashboard-query .plan {
    grid-area: plan;
    overflow: auto;
}

.dashboard-query .stage {
    grid-area: stage;
    /* display: none; */
}

.dashboard-query .list {
    grid-area: list;
    background-color: #F7FAFC !important;
    overflow: hidden;
}

.dashboard-query *:not(.grid-title) {
    font-size: 13px;
}

.grid.dashboard-organizer {
    /* display: grid; */
    margin: 8px;
    height: calc(100vh - 16px);
    grid-gap: 8px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: "top5 top5" "unit list";
    box-sizing: border-box;
    overflow: hidden;
}

.grid.dashboard-organizer .my-table2-wrap {
    height: calc(100% - 90px);
}

.grid.dashboard-organizer.no-grid .my-table2-wrap {
    height: calc(100% - 0);
}

.grid.dashboard-organizer.no-grid {
    /* grid-template-columns: 1fr 4fr; */
    grid-template-rows: 1fr;
    grid-template-areas: "unit list";
}

.grid.dashboard-organizer.no-grid .top5 {
    display: none;
}

.grid.dashboard-organizer .top5 {
    grid-area: top5;
}

.grid.dashboard-organizer .unit {
    grid-area: unit;
    width: 100%;
    /* overflow: auto; */
}

.dashboard-organizer .list {
    grid-area: list;
    /* height: calc(100% - 30px); */
    overflow: hidden;
    background-color: #F7FAFC !important;
}

.dashboard-funds {
    height: calc(100vh - 32px);
    width: calc(100vw - 16px);
    grid-gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "funds3" "funds1";
    /* grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "funds1 filter filter" "funds1 funds2 funds3"; */
    box-sizing: border-box;
}

.dashboard-funds .funds1 {
    grid-area: funds1;
}

.dashboard-funds .funds2 {
    grid-area: funds2;
}

.dashboard-funds .funds3 {
    grid-area: funds3;
}

.dashboard-funds .filter {
    grid-area: filter;
}

.dashboard-funds>div,
.grid.dashboard-priority>div {
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.grid.dashboard-priority {
    height: calc(100vh - 32px);
    width: calc(100vw - 16px);
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "filter filter" "wra_chart wra_table" "aa_chart aa_table";
    /* grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "funds1 filter filter" "funds1 funds2 funds3"; */
    box-sizing: border-box;
}

.grid.dashboard-priority .filter {
    grid-area: filter;
}

.grid.dashboard-priority .wra-chart {
    grid-area: wra_chart;
}

.grid.dashboard-priority .wra-table {
    grid-area: wra_table;
}

.grid.dashboard-priority .aa-chart {
    grid-area: aa_chart;
}

.grid.dashboard-priority .aa-table {
    grid-area: aa_table;
}

.grid-top5 {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-top5 [class^="chart-"] {
    width: 100%;
    height: 180px;
}

.wrap-select {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(13, auto);
    gap: 5px;
    /* width: calc(100% / 11* 4 - 10px); */
}

.wrap-select .form-check {
    padding-top: .5em;
}

.wrap-checkbox {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    gap: 5px;
    /* width: calc(100% / 11* 7 - 10px); */
    text-align: center;
}

.wrap-checkbox>* {
    display: inline-block;
    margin-top: 5px;
    ;
}

.wrap-checkbox input[type="checkbox"] {
    appearance: none;
}

.wrap-checkbox input,
.wrap-checkbox label {
    cursor: pointer;
}

.wrap-checkbox input[type="checkbox"]::before {
    content: "✓";
    display: inline-block;
    margin-left: 1em;
    padding: 0 .5em;
    border-radius: .25em;
    background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    transition: .25s all;
}

.wrap-checkbox .legend-1:checked:before {
    background-color: #5470C6;
}

.wrap-checkbox .legend-2:checked:before {
    background-color: #91CC75;
}

.wrap-checkbox .legend-3:checked:before {
    background-color: #FAC858;
}

.wrap-checkbox .legend-4:checked:before {
    background-color: #EE6666;
}

.wrap-checkbox .legend-5:checked:before {
    background-color: #5ECDE1;
}

.grid-title {
    padding-bottom: .5em;
    font-size: 16px;
    font-weight: bold;
}

.grid-title.border-bottom {
    padding-bottom: 1em;
    /* border-bottom: 1px solid #EFEFEF; */
}

.data-plan-list .detail,
.data-plan-list .late {
    /* display: none; */
}

.relative {
    position: relative;
}

.query-list {
    grid-template-columns: auto 1fr auto;
}

.filter-tag-wrap {
    padding: 0 5px;
}


/* TOOLBOX --------------*/

.toolbox {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    padding-right: 1em;
    font-size: 13px;
}

.toolbox>* {
    vertical-align: middle;
}

.toolbox:not(.toolbox-no-gap)>* {
    margin-left: 1.5em;
}

.toolbox .form-switch {
    line-height: 30px;
}

.toolbox .form-switch input {
    margin-top: 10px;
}

.filter-tag-wrap {
    display: inline-block;
    padding: 0 .5em;
}

.filter-tag {
    display: inline-block;
    margin-bottom: 4px;
    padding: .1em .75em;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 1em;
    color: #666;
    white-space: nowrap;
}


/* .filter-tag::after {
    content: "\f00d";
    display: inline;
    padding: 0 .25em;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
} */

.filter-company {
    width: auto;
    /* margin-top: 2px; */
    outline: none;
    border: 0;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.toolbox .filter-company option {
    text-align: right;
}

.filter-company option:disabled {
    color: #CCCCCC;
}

.btn-full-table input {
    appearance: none;
}

.btn-full-table i::before {
    display: inline-block;
    margin-top: 6px;
    font-size: 20px;
    cursor: pointer;
}

.btn-full-table label:hover>i::before {
    color: #5470C6;
}

.btn-full-table input+label>i {
    display: none;
}

.btn-full-table input:checked+label>i.compress {
    display: block;
}

.btn-full-table input:not(:checked)+label>i.expand {
    display: block;
}


/* ==================================== */


/* TOTAL BLOCK */

.total-block {
    width: 50%;
    padding-top: .5em;
    /* font-size: 13px; */
    border-bottom: 1px solid #EEEEEE;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, .15); */
}

.total-title {
    display: block;
    font-weight: bold;
}

.total-value {
    display: block;
    padding: .25em 0;
    /* color: #5470C6; */
    font-size: 18px;
    font-weight: bold;
}

.total-block.big {
    font-size: 16px;
    font-weight: bold;
}

.total-block.big .total-value {
    font-size: 24px;
}


/* CSS SLIDER -------------------------- */

.slider {
    position: relative;
    text-align: right;
    min-height: 175px;
}

.slider label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* display: none; */
    width: 100%;
    opacity: 0;
    transition: .5s all;
    cursor: pointer;
}

.slider input[type=radio] {
    appearance: none;
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    display: inline-block;
    margin-right: -4px;
    cursor: pointer;
}

.slider input[type=radio]:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 12px;
    border: 4px solid #FFFFFF;
    border-radius: 16px;
    background-color: #ccc;
}

.slider input[type=radio]:checked:after {
    background-color: #444;
}

.slider input[type=radio]:checked+label {
    z-index: 1;
    opacity: 1;
}


/* MEDIA QYERY ----------------- */

@media screen and (max-width: 1148px) {
    /* ------- mobile dashboard with no master layout --- start */
    aside,
    header {
        display: none;
    }
    .page {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important;
    }
    /* ------- mobile dashboard with no master layout --- end */
    .notice {
        order: 0;
        -webkit-order: 0;
    }
    .section-outsourcing-funds,
    .section-priority {
        order: 1;
        -webkit-order: 1;
    }
    .section-organizer-stage {
        order: 2;
        -webkit-order: 2;
    }
    .section-funds-detail {
        order: 3;
        -webkit-order: 3;
    }
    .section-company,
    .section-committee {
        order: 4;
        -webkit-order: 4;
    }
    .wrap .col-1 {
        width: calc(50% - 8px);
    }
    .wrap .col-2 {
        width: calc(100% - 8px);
    }
    .wrap-stage {
        padding-top: 30px;
        box-sizing: border-box;
    }
    .section-company {
        min-height: 320px;
    }
}

@media screen and (max-width: 640px) {
    .wrap .col-1,
    .wrap .col-2 {
        width: 100%
    }
    .section-organizer-stage .flex {
        display: block;
    }
    .wrap-organizer,
    .wrap-stage {
        width: 100%;
    }
    .wrap .section-company,
    .wrap .section-committee {
        width: calc(50% - 8px);
    }
    .dashboard-tab li,
    .dashboard-tab a {
        width: 100%;
        text-align: center;
    }
    .block-funds-detail {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .wrap .section-company,
    .wrap .section-committee {
        width: calc(100% - 8px);
    }
    .notice {
        display: block;
    }
    .notice>div {
        width: 100%;
    }
}