html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /* padding-top: 4rem; */
}

.game-wrap {
}

@media screen and (orientation: portrait) {
    .game-wrap .game-topic-img {
        width: 100vw;
    }
}
@media screen and (orientation: landscape) {
    .game-wrap .game-topic-img {
        /* height: calc(100vh - 4rem); */
        height: 100vh;
    }
}