body {
	color: #333;
}
p {
	line-height: 2;
	text-align: justify;
}
.hide {
	display: none;
}

.header {
	padding: 1em;
}
.video {
	width: 40%;
	height: 30vw;
	border: 0;
	margin-bottom: .5em;
	background-color: #000;	
}
.amiq {
	float: left;
	width: 60%;
	height: 30vw;
	margin-bottom: .5em;
}
.grid {
	border-left: 1px dotted #ddd;
}
.item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	/*margin-left: 20%;*/
	margin-bottom: 1.5em;
	padding: 2em;
	padding-top: 3em;
	border-right: 1px dotted #ddd;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;
	cursor: pointer;
}
.item:hover {
	z-index: 1;
	/*background-color: #ffc;*/
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
	box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
}
.stage:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	height: 10px;
	width: calc(4em - 2px);
	border-top: 10px solid #fc0;
}
.stage:after {
	content: "";
	position: absolute;
	top: 0;
	left: calc(4em - 2px);
	z-index: 10;
	height: 10px;
	width: calc(100% - 4em);
	border-top: 10px solid;
}
.stage-1:after {
	border-top-color: #3aa241;
}
.stage-2:after {
	border-top-color: #1cbcb4;
}
.stage-3:after {
	border-top-color: #ef452e;
}
.stage-4:after {
	border-top-color: #fb8809;
}
.stage-5:after {
	border-top-color: #056abc;
}
.stage-6:after {
	border-top-color: #00b0d9;
}
.stage-bg {
	display: block;
	margin-bottom: 1em;
	padding: 1em 2em;
	color: #fff;
	cursor: pointer;
}
.stage-bg-1 {
	background-color: #3aa241;
}
.stage-bg-2 {
	background-color: #1cbcb4;
}
.stage-bg-3 {
	background-color: #ef452e;
}
.stage-bg-4{
	background-color: #fb8809;
}
.stage-bg-5 {
	background-color: #056abc;
}
.stage-bg-6{
	background-color: #00b0d9;
}

.id {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 4em;
	padding: 1em 0 .5em 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	font-size: .8125em;
	font-weight: bold;
	font-family: 'Arial Black', Sans-Serif;
}
.title {
	display: block;
	margin-top: .5em;
	font-size: 1.2em;
	font-weight: bold;
}
.en {
	display: block;
	font-size: .8125em;
}
.subject {
	display: block;
	padding-top: .25em;
	color: #c03;
}
.books {
/*	height: 0;
	overflow: hidden;*/
}
.img {
	float: left;
	margin-right: 1em;
}
.info {
}
.img img {
	height: 4em;
}
.topics img {
	width: 100%;
	margin-top: 1.5em;
	/*height: 40vh;*/
/*	width: 60%;
    margin-left: 19%;
    margin-top: -12%;
    margin-bottom: -20%;
	-webkit-transform: rotateZ(-90deg);
	-ms-transform: rotateZ(-90deg);
	-o-transform: rotateZ(-90deg);
	transform: rotateZ(-90deg);*/
}
.preview {
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	background-color: #fff;
	-webkit-box-shadow: -3px 0 3px rgba(0,0,0,.1);
	box-shadow: -3px 0 3px rgba(0,0,0,.1);
}
.preview img {
	width: 100%;
/*	width: 40%;
    margin-left: 20%;
    margin-top: -12%;
    margin-bottom: -20%;
	-webkit-transform: rotateZ(-90deg);
	-ms-transform: rotateZ(-90deg);
	-o-transform: rotateZ(-90deg);
	transform: rotateZ(-90deg);*/
}
.book-info {
	vertical-align: top;
	position: relative;
	padding: 2em;
	padding-left: 6em;
	background-color: #f1e8d6;
	border-bottom: 1px dotted #fff;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;
	cursor: pointer;
}
.book-subject {
	display: block;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dotted #fff;
}
.topics {
	position: relative;
	font-size: .8125em;
	line-height: 2;
}
.topics ul, .topics li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.topics li {
	margin-bottom: .5em;
}
.topics span {
	display: block;
	color: #ff9;
}
.pos {
	position: absolute;
	width: 23.6vw;
    height: 18.5vw;
	border: 5px solid rgba(255,255,255,1);
	color: #fff;
	box-sizing: border-box;
	overflow: auto;
	-webkit-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;
/*	-webkit-animation: ease-in-out;
	-o-animation: ease-in-out;
	animation: .25s fadeOut ease-in;*/
}
.topic-info {
	width: 100%;
	min-height: 110%;
	padding: 1em;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
}
.pos:hover {
	/*border: 5px solid rgba(0,0,0,.5);*/
}
.pos:hover .topic-info  {
	opacity: 1;
/*	background-color: transparent;
	color: #333;*/
}
.pos:hover ul {
	/*display: none;*/
}
.pos0 {
	top: 1.5vw;
    left: 50.7vw;
    width: 48vw;
}
.pos1 {
	top: 1.5vw;
    left: 1.5vw;
    width: 22.8vw;
}
.pos2 {
	top: 1.5vw;
    left: 25.7vw;
}
.pos3 {
	top: 21.3vw;
    left: 1.5vw;
    height: 19.2vw;
    width: 22.8vw;
}
.pos4 {
	top: 21.3vw;
    left: 25.7vw;
    height: 19.2vw;
}
.pos5 {
	top: 21.3vw;
    left: 50.7vw;
    height: 19.2vw;
}
.pos6 {
	top: 21.3vw;
    left: 75.7vw;
    height: 19.2vw;
}
.pos7 {
	top: 41.5vw;
    left: 1.5vw;
    height: 19vw;
    width: 22.8vw;
}
.pos8 {
	top: 41.5vw;
    left: 25.7vw;
    height: 19vw;
}
.pos9 {
	top: 41.5vw;
    left: 50.7vw;
    height: 19vw;
}
.pos10 {
	top: 41.5vw;
    left: 75.7vw;
    height: 19vw;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

/*Spinner------------*/
.sk-cube-grid {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-top: -36px;
  margin-left: -36px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: lightgray;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/*------------------------------------*/
@media screen and (min-width: 480px) and (max-width: 1023px )  {
	.item {
		width: 50%;
	}	
}
@media screen and (min-width: 1024px)  {
	body {
		padding: 2em;
	}
	.item {
		width: 33.33%;
	}	
}
