@import "variables";
@import "mixin";

/* 章節大標題 */
.GSMis-section-title {
  display: flex;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 24px;

  &::before {
    content: "";
    display: block;
    width: 4px;

    margin: 0 0.5em;
    margin-top: 0.1em;
    transform: scaleY(95%);

    background: #333;
  }

  @include lg-width {
    margin-bottom: 24px;
    font-size: 32px;
  }
}

/* 按鈕 */
.GSMis-btn-icon {
  $w: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: $w;
  // height: $w;

  text-decoration: none !important;
  transition: all 0.2s;

  // Hover
  &:hover {
    // transform: scale(1.2);
  }

  // 刪除
  &.delete {
    color: red;
  }

  // 編輯
  &.edit {
    color: darkgreen;
  }
}

/* 開闔驅動按鈕 */
.GSMis-collapse {
  // 驅動
  &-trigger {
    text-decoration: none !important;
    color: currentColor !important;

    i {
      transform: rotate(0deg);
      transition: all 0.2s;
    }
    &.collapsed {
      i {
        transform: rotate(180deg);
      }
    }
  }
  // BAR
  &-bar {
    display: flex;
    align-items: center;

    padding-bottom: 8px;
    border-bottom: 1px solid $primary;

    // 箭頭
    .arrow {
      $w: 32px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      width: $w;
      height: $w;

      font-size: 24px;
      // color: $primary !important;
      color: white !important;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}
