@import "variables";
@import "mixin";

/* 表單排列(水平) 最多4個單位 */
.GSMis-form-horizontal {
  @include sm-width {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px 8px;
  }

  & > dt {
    margin-bottom: 4px;
    margin-top: 16px;
    color: #007a9a;
    font-weight: bold;

    @include sm-width {
      display: flex;
      // align-items: center;
      justify-content: end;

      text-align: right;
      margin-left: 8px;
      margin-top: 7px;

      &::after {
        content: "";
        display: block;
        height: 20px;
        margin-top: 2px;
        // padding-left: 16px;
        // margin-right: 8px;
        border-right: 1px solid rgba($primary, 0.25);
        padding-left: 8px;
        margin-right: 8px;
        // border-right: 1px solid #ffc107;
      }
    }
  }

  .full {
    grid-column: 1/-1;
  }
  .wide {
    grid-column: 2/-1;
  }

  // .span-3 {
  //   @include md-width {
  //     grid-column: span 3;
  //   }
  //   @include lg-width {
  //     grid-column: span 5;
  //   }
  // }

  // 2單位
  &.units-2 {
    @include md-width {
      grid-template-columns: repeat(2, auto 1fr);
    }
    .span-next {
      @include md-width {
        grid-column: span 3;
      }
    }
  }
  // 3單位
  &.units-3 {
    @include md-width {
      grid-template-columns: repeat(2, auto 1fr);
    }
    @include lg-width {
      grid-template-columns: repeat(3, auto 1fr);
    }
    .span-next {
      @include md-width {
        grid-column: span 3;
      }
    }
  }
  // 4單位
  &.units-4 {
    @include md-width {
      grid-template-columns: repeat(2, auto 1fr);
    }
    @include lg-width {
      grid-template-columns: repeat(3, auto 1fr);
    }
    @include xl-width {
      grid-template-columns: repeat(4, auto 1fr);
    }
    .span-next {
      @include md-width {
        grid-column: span 3;
      }
    }
  }
}
/* 表單排列(垂直) 最多4個單位 */
.GSMis-form-vertical {
  display: grid;
  gap: 16px;

  label {
    margin-bottom: 4px;
  }

  .full {
    grid-column: 1/-1;
  }
  .span-2 {
    @include md-width {
      grid-column: span 2;
    }
  }
  .span-3 {
    @include md-width {
      grid-column: span 2;
    }
    @include lg-width {
      grid-column: span 3;
    }
  }

  // 2單位
  &.unit-2 {
    @include md-width {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // 3單位
  &.unit-3 {
    @include md-width {
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg-width {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // 4單位
  &.unit-4 {
    @include md-width {
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg-width {
      grid-template-columns: repeat(3, 1fr);
    }
    @include xl-width {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
